@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Love+Ya+Like+A+Sister&family=PT+Serif:wght@400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  border: 0;
}

/*--------------------------------------------Header*/

 .header {
    height: auto;
    padding: 3% 0;
  }

  #logo {
    font-family: Love ya like a sister;
    font-size: 60px;
    letter-spacing: 4px;
  }

  #sub-logo {
    font-size: 25px;
    letter-spacing: 4px;
  }

.navbar-nav li{
  font-size: 25px;
  margin-right: 25px;
}

.navbar-nav span{
  color: #677d85;
}

/*--------------------------------------------Text styling*/

.uppercase {
  text-transform: uppercase;
}

.text-color {
  color: #677d85;
}

.text-font{
  font-family: Lato;
}



/*--------------------------------------------Footer*/

.social-networks{
  font-size: 30px;
  list-style-type: none;
  text-align: center;
}

.social-networks li{
  display: inline;
}

.social-networks i{
  margin: 1%;
  padding: 2%;
  color: #677d85;
}

  

