@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Love+Ya+Like+A+Sister&family=PT+Serif:wght@400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  border: 0;
}

/*----------header and logo---*/

 .header {
    height: auto;
    padding: 3% 0;
  }

  #logo {
    font-family: Love ya like a sister;
    font-size: 60px;
    letter-spacing: 4px;
  }

  #sub-logo {
    font-size: 25px;
    letter-spacing: 4px;
  }

.navbar-nav li{
  font-size: 25px;
  margin-right: 25px;
}

.navbar-nav span{
  color: #677d85;
}


/*----------text styling---*/


.uppercase {
  text-transform: uppercase;
}

.text-color {
  color: #677d85;
}

.text-font{
  font-family: Lato;
}

.text-center {
  text-align: center;
}

.font-size {
  font-size: 25px;
}

/*----------hero image---*/

#hero-image {
  height: 600px;
  width: 100%;
  overflow: hidden;
  margin: 0px 2px;
}

#hero-image img  {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*----------homepage content---*/

.about {
  padding: 2% 0;
  margin: 50px 0;
  font-size: 25px;
  font-style: italic;
}

.center {
  margin: auto;
  max-width: 50%;
  
}

.hours-contact-layout{
  padding: 5px 5px;
  display: flex;
}

.hours-contact-layout div{
  flex: 1;
  flex-direction: column;
}

.hours-contact-layout img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

 .hours-contact-layout span {
   display: block;
 } 

.hours-text {
  padding: 2% 0;
  margin: 50px 0;
  font-size: 25px
}

.contact-image{
  order: 2
}

.contact-text {
  padding: 2% 0;
  margin: 50px 0;
  font-size: 25px;
  order: 1;
}

/*----------menupage styling---*/

.courses {
  padding: 2% 0;
  font-size: 25px;
  color: #4d525c;
}

.courses p{
  font-style: italic;
 
}

/*----------menupage images---*/

.starter-main-dessert-container {
  position: relative;
  margin: 0 2% 2% 2%;
}


#starter-image-container {
  background-image: url("../images/starter.jpg");
  width: 100%;
  height: 100%;
  background-size: cover; background-repeat:no-repeat;
  opacity: 0.1;
  position: absolute;
  z-index: -1;
}

#main-image-container {
  background-image: url("../images/mains.jpg");
  width: 100%;
  height: 100%;
  background-size: cover; background-repeat:no-repeat;
  opacity: 0.1;
  position: absolute;
  z-index: -1;
}

#dessert-image-container {
  background-image: url("../images/mains.jpg");
  width: 100%;
  height: 100%;
  background-size: cover; background-repeat:no-repeat;
  opacity: 0.1;
  position: absolute;
  z-index: -1;
}

/*----------reservation page styling---*/

.reservation-border {
  padding: 5%;
  margin: 0 20%;
  border: 3px solid #677d85;
}

#button {
  margin-top: 5%;
}

/*----------footer styling---*/

.social-networks{
  font-size: 30px;
  list-style-type: none;
  text-align: center;
}

.social-networks li{
  display: inline;
}

.social-networks i{
  margin: 1%;
  padding: 2%;
  color: #677d85;
}


@media(max-width: 992px) {
    .hours-image {
        display: none;
    }

  .contact-image {
    display: none;
  }
}

  

